@model List<JobFinder.Core.Models.Oferta>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a JobFinder</h1>

    @if (Model.Any())
    {
        <partial name="../Ofertas/_ListadoOfertas" model="Model" />
    }
    else
    {
        <div class="alert alert-warning mt-4">
            No hay ofertas disponibles en este momento.
        </div>
    }
</div>