<!-- Asegúrate de no incluir etiquetas </body> o </html> -->
<footer class="footer mt-5 py-3 bg-light">
    <div class="container">
        <p class="text-center text-muted">
            &copy; @DateTime.Now.Year - JobFinder
        </p>
    </div>
</footer>