@model List<JobFinder.Core.Models.Oferta>

<div class="row">
    @foreach (var oferta in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@oferta.Titulo</h5>
                    <p class="card-text">@oferta.IdEmpresa</p>
                    <a asp-controller="Ofertas"
                       asp-action="Detalle"
                       asp-route-id="@oferta.Id"
                       class="btn btn-primary">
                        Ver Detalle
                    </a>
                </div>
            </div>
        </div>
    }
</div>