@model JobFinder.Core.Models.AuthModel
@{
    ViewData["Title"] = "Registro";
}

<div class="container mt-5">
    <form asp-action="Login" class="col-md-6 offset-md-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Usuario" class="form-label"></label>
            <input asp-for="Usuario" class="form-control" />
            <span asp-validation-for="Usuario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block"> Iniciar Sesión</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}